/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
::-webkit-scrollbar { 
    display: none; 
}
html{
	width:90%;
	
	background-color:black;
}

body{
	color:grey;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	font-size:14px;
	margin:auto;
}
.front{
	width:48.5%;
	height:auto;
	float:left;
	opacity:0.7;
	transition: all 1s;
	-webkit-transition: all 1s;
}
.front:nth-child(even){
	margin-right:2%;
	height:auto;
}
.back{
	width:96%;
	height:auto;
}
img{
	width:100%;
	height:auto;
}
.front:hover{
	opacity:1;

}
legend{
	opacity:0;
	position:relative;
	top:100px;
	left:30px;
}
h1,a{
	color:grey;
	text-decoration:none;
	text-align:left;
	text-transform:lowercase;
	padding:5px;
	font-size:1.4em;
}
h1{
	top:130px;
	right:-30px;
	-webkit-transform: rotate(-90deg);
}
a:hover{
	color:white;
	transition: all 1s;
	-webkit-transition: all 1s; /* Safari */
}
nav{
	width:10%;
	display:block;
	height:1400px;
	