// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form{
	border:1px dashed grey;
	display:block;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	margin-bottom:40px;
	padding:20px;
}
input{
	width:100%;
	font-family: 'Roboto', sans-serif;
	background:grey;
	border:none;
	color:white;
	font-weight:100;
	text-transform:lowercase;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s; /* Safari */
	&:focus, &:hover {
	border:none;
	background: #2e2e2d;
	}
	
}
.id{
	width:20%;
	margin-top:40px;
	float:left;
	img{
		width:100%;
		height:auto;
	}
}
#error_explanation{
	background:red;
	margin:auto;
	padding:20px;
	margin-bottom:30px;
	color:black;
}
#submit{
	width:60%;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	background-color:#202020;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s; /* Safari */
	&:hover{
		background-color:#343434;
	}
}
@media (max-width: 800px) {
  form{
  	width:90%;
  }
}

